

body {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.container {
    background-color: white;
    height: 600px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
}
